
.navBar{
background-color: #000;
display: block;
color:#fff;
}

.form-control{
  width: 60%;
  margin-top:20px;
  font-size: 24px;
  padding:15px;
}
.form-field{
  position: relative;
}

.rating {
  color: chocolate;
}

.room{
  width: 50%;
}

.sect-content{
  display:flex;

}
.jumbotron{
  padding-right: 10px!important;
}

.img-container{
  padding-right: 17px;
}

.genre{
  margin-bottom: 3px;
}
.title{
  margin-bottom: 3px;
}

.plot{
  border-bottom: 1px solid #e8e3e3;
  padding: 20px 0;
}

em{
  color:#afa9a9;
}
.runtime{
  margin-bottom: 3px;
}

.summary{
  width: 17%;
    background: #0000000d;
    padding: 4px;
    text-align: center;
    border-radius: 11px;
}

.card-body >span{
  width: 34%;
    background: #0000000d;
    padding: 4px;
    text-align: center;
    border-radius: 11px;
}

.search{
  font-size: 20px;
    right: 43%;
    position: absolute;
    top: 10px;
    padding: 0!important;
    border-width: 0;
    border-style: none;
    border-color: transparent!important;
    background-color: transparent!important
}

.logo{
  font-size: 33px;
    padding: 12px;
}

.head{
  display: flex;
}

.content_cover{
  width: 30%;
}

.movie-container{
  justify-content: space-between;
    display: flex;
}